@model IEnumerable<WebApplicationClient.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddOrEdit",null,new {@class="btn btn-primary"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "AddOrEdit", new { id = item.id },new { @class = "btn btn-primary" }) 
                <a class="btn btn-danger" onclick="Delete(@item.id)">Delete</a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script type="text/javascript">
        $(function (){
    var successMessage = '@TempData["success"]';
            if (successMessage != '')
            alertify.success(successMessage);
    
        })
        function Delete (id){
            alertify.confirm("Confirmation","Vous etes sure ?",
                function () {
                    window.location.href = '@Url.Action("Delete","Employee")/' + id;
                }, null

            );
        }
    </script>

}
